@font-face {
  font-family: "Halvar-Rg";
  src: url(../fonts/HalvarBreit-Rg.ttf);
}

@font-face {
  font-family: "Halvar-Md";
  src: url(../fonts/HalvarBreit-Md.ttf);
}

@font-face {
  font-family: "Halvar-Bd";
  src: url(../fonts/HalvarBreit-Bd.ttf);
}

@font-face {
  font-family: "Gilroy-Rg";
  src: url(../fonts/Gilroy-Regular.woff);
}

@font-face {
  font-family: "Gilroy-Md";
  src: url(../fonts/Gilroy-Medium.woff);
}

@font-face {
  font-family: "Gilroy-Sm";
  src: url(../fonts/Gilroy-Semibold.woff);
}

@font-face {
  font-family: "Gilroy-Bd";
  src: url(../fonts/Gilroy-Bold.woff);
}

:root {
  line-height: 1.5;

  --regular: "Gilroy-Rg";
  --medium: "Gilroy-Md";
  --semi: "Gilroy-Sm";
  --bold: "Gilroy-Bd";

  --decor-rg: "Halvar-Rg";
  --decor-md: "Halvar-Md";
  --decor-bd: "Halvar-Bd";

  --black: #0f0f0f;
}

::-webkit-scrollbar {
  width: 0.44rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a44fe6;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  color: unset;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  background: var(--black);
  font-family: var(--regular);
  color: white;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
}
input:focus {
  outline: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}
.container-big {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 8px;
}
button {
  padding: 0;
  display: block;
}
